@import url('vars.css');

@font-face {
  font-family: 'PTRootUI';
  src: 
    url('./fonts/pt-root-ui.woff2') format('woff2'),
    url('./fonts/pt-root-ui.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: PTRootUI, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-weight: normal;
  font-style: normal;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-black);
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif; color:#333333;
}

.row {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }
}
